<li class="item result app c">
    <a class="product mkt-tile " href="https://marketplace.firefox.com/app/sliding-puzzle?src=disco" data-slug="sliding-puzzle">
        <img class="icon" alt="" src="https://marketplace.cdn.mozilla.net/img/uploads/addon_icons/422/422188-64.png?modified=crushed" height="64" width="64">
        <div class="info">
            <h3>Sliding Puzzle</h3>
            <div class="author lineclamp vital subdetail">Mathieu Pillard</div>
            <div class="content-rating lineclamp vital subdetail">For ages 3+</div>
            <div class="price vital">Free</div>
            <button class="button product install"> Free </button>
            <div class="rating vital">
                <span class="stars" title="Rated 4 out of 5 stars"><span>★★★★</span>☆</span>
                <span class="cnt long">42 Reviews</span>
            </div>
        </div>
    </a>
</li>