{% include "_app.html" %}

<section class="main">
    <div>
        {% defer (url=api('collection', ['desktop-discovery']), id='collection', as='collection', key=slug) %}
        <ol class="listing">
            {% for result in this.apps %}
                <li class="item result app c">
                    {{ simple_market_tile(result, link=true, src='osc', tray=False) }}
                </li>
            {% endfor %}
        </ol>
        {% placeholder %}
            <p class="spinner alt spaced"></p>
        {% except %}
          <div class="detailed-error">
            <h2>{{ _('Oh no!') }}</h2>
            <p>{{ _('We had a problem loading the list of apps. Please try again later.') }}</p>
          </div>
        {% end %}
    </div>
</section>
<section class="sidebar">
    <div class="search-promo">
        <h3> Find Great Firefox Apps Wherever You Are </h3>
        <div>
            <p> Click the arrow in the browser Search bar and select "Firefox Apps." </p>
            <p> Now you can search for Firefox Apps from any internet page! </p>
        </div>
    </div>

    <div class="newsletter-promo">
        <h3> Newsletter Headline </h3>
        <p> Epudae rest aboria solori ulloreriasi que
        net aut aut lam recestrum. Non est quundi
        rernati re sumi. Epudae rest aboria solori
        ulloreriasi que net aut aut lam recestrum. </p>
        <form class="news-signup-form">
            <p>
                <input placeholder="{{ _('Enter your email...') }}" type="email" id="email" name="email" value="{{ email }}" required>
                <button class="button" type="submit">{{ _('Sign up') }}</button>
            </p>
            <p class="privacy">
                <a href="/privacy-policy" target="_parent">{{ _('Privacy Policy') }}</a>
            </p>
        </form>
        <p class="fullup processing hidden">
            <span>{{ _('Signing up...') }}</span>
            <span class="spinner alt"></span>
        </p>
        <p class="fullup finished hidden">
            {{ _('You were successfully signed up for the Marketplace newsletter!') }}
        </p>
        <p class="fullup error hidden">
            {{ _('There was an error submitting your newsletter sign up request. Please try again later.') }}
        </p>
    </div>

    <div>
        <h3> FEATURED APP </h3>
        <p> Short app description goes here.
            Short app description goes here.
            Short app description goes here.
        </p>
        <p> <a href="#">Download [app name]</a> </p>
    </div>

    <div>
        <h3> Firefox Account Headline </h3>
        <p> Epudae rest aboria solori ulloreriasi que
        net aut aut lam recestrum. Non est quundi
        rernati re sumi. Epudae rest aboria solori
        ulloreriasi que net aut aut lam recestrum. </p>
        </p>
        <p> <a href="#">Sign up for a Firefox Account</a> </p>
    </div>
</section>
