<section class="search">
    <form novalidate method="GET" id="search" action="/search" target="_blank">
        <input type="hidden" name="src" value="disco">
        <input id="search-q" type="search" name="q" title="" x-inputmode="verbatim"
               autocapitalize="off" autocomplete="off" autocorrect="off" required value="">
        <input type="submit" value="{{ _('Search') }}" />
    </form>
</section>
<section class="main">
    {# FIXME: The collection endpoint doesn't seem to correctly obey the limit parameter,
              but we'll replace it by the feed endpoint in bug 1048366 anyway #}
    {% defer (url=anonApi('collection', ['desktop-discovery'])|urlparams(limit=9)) %}
    <h1>{{ _('{count} Essential Desktop Apps', count=this.apps.length) }}</h1>
    <ul>
        {% for app in this.apps %}
            <li>
                <a href="{{ app.absolute_url }}?src=disco" target="_blank">
                    <div><img alt="" src="{{ app.icon }}" height="64" width="64"></div>
                    <h3>{{ app.name|translate(app) }}</h3>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% placeholder %}
        <p class="spinner alt spaced"></p>
    {% except %}
      <div class="detailed-error">
        <h2>{{ _('Oh no!') }}</h2>
        <p>{{ _('We had a problem loading the list of apps. Please try again later.') }}</p>
      </div>
    {% end %}
</section>
<section class="promo gametime">
    <div>
        <h3> {{ _('Game Time') }} </h3>
        <p> {{ _('Check out our full catalog of desktop games.') }} </p>
        <p> <a class="button" href="/category/games?src=disco" target="_blank">{{ _('See Games') }}</a> </p>
    </div>
</section>
<section class="promo gamesonthego">
    <div>
        <h3> {{ _('Play This Game Right Now') }} </h3>
        <p> {{ _('Help Captain Rogers blast his way through menacing asteroid fields. This mission requires fast reflexes, steely resolve, and a computer or mobile device!') }} </p>
        <p> <a class="button" href="/app/captain-rogers?src=disco" target="_blank">{{ _('View') }}</a> </p>
    </div>
</section>
<section class="promo opensearch">
    <div>
        <h3> {{ _('Find Firefox Apps from any page') }} </h3>
        <p> {{ _('Click the browser search arrow and select "Firefox Apps" to look for apps from any web page.') }} </p>
    </div>
</section>
