@import 'lib';

.potato-captcha {
    display: none;
}

button, input, select, textarea {
    font: 100% $open-stack;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

button, input {
    line-height: normal;
}

label, button, input[type=button], input[type=submit] {
    cursor: pointer;
}

label {
    display: block;
    font-weight: 400;
}

input:-moz-placeholder {
    color: #cbcbcb;
}

input[type=email], input[type=text], input[type=url], input[type=search], input[type=button], button, select, textarea {
    background: $white;
    border: 2px solid #DEDEDE;
    color: $dark-gray;
    padding: 5px;

    &:focus {
        border-color: $border-blue;
    }
}

input[type=button], button {
    background: #FBFBFB;
}


select {
    padding: 0;
}

textarea {
    display: block;
    overflow: auto;
    vertical-align: top;
}

