@import 'lib';

.potato-captcha {
    display: none;
}

button, input, select, textarea {
    font: 100% $open-stack;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

button, input {
    line-height: normal;
}

label, button, input[type=button], input[type=submit] {
    cursor: pointer;
}

label {
    display: block;
    font-weight: 400;
}

input:-moz-placeholder {
    color: #cbcbcb;
}

input[type=email], input[type=text], input[type=url], input[type=search], select, textarea {
    background-color: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
    color: #888;
    padding: 5px;

    &[disabled], &[readonly] {
        background: $seavan-salt-white;
        color: $earl-gray;
        cursor: not-allowed;
    }
    &:focus {
        border-color: #72cfff;
    }
}

select {
    padding: 0;
}

textarea {
    display: block;
    overflow: auto;
    vertical-align: top;
}

