@import 'lib.styl'

#search-q {
    background: #f4f4f4 url(../img/search.svg) 8px 50% no-repeat;
    border: 2px solid $cement-gray;
    border-radius: 10px;
    color: $london-fog-gray;
    font: 300 20px/28px $open-stack;
    height: 34px;
    outline: none;
    padding: 2px 10px 1px 32px;
    transition(unquote('.18s background-position, .2s border-color, .2s padding'));
    z-index: 2;
    &:-moz-placeholder {
        color: darken($cement-gray, 5%);
    }
    &::-moz-placeholder {
        color: darken($cement-gray, 5%);
    }
    &::-webkit-input-placeholder {
        color: darken($cement-gray, 5%);
    }
    ~ .search-clear {
        transition(unquote('.3s opacity, .3s visibility'));
    }
    &:invalid ~ .search-clear {
        // Hide the X icon when the search field is empty.
        opacity: 0;
        visibility: hidden;
    }
    &:valid {
        // Pad for the X icon.
        padding-right: 34px;
        ~ .search-clear {
            opacity: 1;
            visibility: visible;
        }
    }
    &:focus {
        background-position: -18px 50%;
        border-color: #72cfff;
        padding-left: 10px;
    }
}

.close {
    background: url(../img/close.svg) 50% no-repeat;
    background-size: 18px auto;
    height: 34px;
    hidetext();
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.close:active {
    background: url(../img/close_active.svg) 50% no-repeat;
}
