@import 'lib';

.listing {
    clear: both;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;

    li.item {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 1px $cement-gray;
        margin: 0 0 15px 0;
        position: relative;
        width: 460px;
    }

    .install {
        float: right;
    }
}

.mkt-tile {
    color: $castle-skull-gray;
    display: block;
    min-height: 64px;
    overflow: hidden;
    padding: 14px;
    position: relative;

    .icon {
        float: left;
        margin-right: 15px;
        position: static;
        width: 64px;
    }

    .info {
        position: relative;
    }

    h3 {
        color: $medium-gray;
        font-size: 14px;
        font-weight: 500;
        line-height: 12px;
        margin: 0;
        max-width: 100%;
        padding-bottom: 10px;
    }

    .subdetail {
        color: $earl-gray;
        font-size: 12px;
        line-height: 16px;
        max-height: 28px;

        &.content-rating {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .button {
        bottom: 5px;
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        margin-left: 10px;
        min-width: 0;
        padding: 0 20px;
        position: absolute;
        right: 0;
        width: auto;
    } 

    .info h3,
    .subdetail {
        /* subdetail contains .author and .content-rating. */
        ellipsis();
    }

    &:hover {
        text-decoration: none;
    }
}

.mkt-tile .rating {
    color: $sailor-blue;
    display: block;
    font-size: 12px;
    padding: 0;
}