@import 'lib.styl'

.newsletter-promo {
  position: relative;

  input[type="email"], button {
    border-radius: 5px;
    box-sizing: content-box;
    font-size: 1rem;
    font-weight: 400;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-left: 0.2rem;
    min-width: inherit;
    padding: 0.2rem 0.6rem;
  }

  form {
    margin: 1rem 0;
  }

  .privacy {
    margin-left: 0.5rem;
  }

  .fullup {
    align-items: center;
    background: $white;display: flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .fullup span {
    margin: 0.5rem;
  }

  .hidden {
    display: none;
  }
}