@import 'lib.styl'

.newsletter {
  position: relative;
  text-align: center;

  a {
    text-decoration: none;
  }

  & > div {
    padding: 25px 160px;
  }

  input[type="email"], button {
    display: inline-block;
    margin: 5px;
  }

  input[type="email"] {
    min-width: 380px;
  }

  form p {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .fullup {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .fullup span {
    margin: 0.5rem;
  }

  .hidden {
    display: none;
  }
}
