#search {
  input {
    font-family: message-box;
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    max-width: 450px;
    z-index: 2;
  }

  input[type=search] {
    color: inherit;
    flex-grow: 1;
  }

  input[type=submit] {
    color: inherit;
  }

  /* Everything below is stolen from Firefox's aboutHome.css */

  input[type=search] {
    background: hsla(0,0%,100%,.9) padding-box;
    border: 1px solid;
    border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
    box-shadow: 0 1px 0 hsla(210,65%,9%,.02) inset,
                0 0 2px hsla(210,65%,9%,.1) inset,
                0 1px 0 hsla(0,0%,100%,.2);
    border-radius: 2.5px 0 0 2.5px;
    padding: 6px 8px;
  }

  input[type=search]:-moz-dir(rtl) {
    border-radius: 0 2.5px 2.5px 0;
  }

  input:focus,
  input[autofocus] {
    border-color: hsla(206,100%,60%,.6) hsla(206,76%,52%,.6) hsla(204,100%,40%,.6);
  }

  input[type=submit] {
    -moz-margin-start: -1px;
    background: linear-gradient(hsla(0,0%,100%,.8), hsla(0,0%,100%,.1)) padding-box;
    padding: 0 9px;
    border: 1px solid;
    border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.17) hsla(210,54%,20%,.2);
    -moz-border-start: 1px solid transparent;
    border-radius: 0 2.5px 2.5px 0;
    box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset,
                0 1px 0 hsla(0,0%,100%,.2);
    cursor: pointer;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 150ms;
  }

  input[type=submit]:-moz-dir(rtl) {
    border-radius: 2.5px 0 0 2.5px;
  }

  input[type=search]:focus + input[type=submit],
  input[type=search] + input[type=submit]:hover,
  input[type=search][autofocus] + input[type=submit] {
    border-color: #59b5fc #45a3e7 #3294d5;
    color: white;
  }

  input[type=search]:focus + input[type=submit],
  input[type=search][autofocus] + input[type=submit] {
    background-image: linear-gradient(#4cb1ff, #1793e5);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
                0 0 0 1px hsla(0,0%,100%,.1) inset,
                0 1px 0 hsla(210,54%,20%,.03);
  }

  input[type=search] + input[type=submit]:hover {
    background-image: linear-gradient(#66bdff, #0d9eff);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.2) inset,
                0 0 0 1px hsla(0,0%,100%,.1) inset,
                0 1px 0 hsla(210,54%,20%,.03),
                0 0 4px hsla(206,100%,20%,.2);
  }

  input[type=search] + input[type=submit]:hover:active {
    box-shadow: 0 1px 1px hsla(211,79%,6%,.1) inset,
                0 0 1px hsla(211,79%,6%,.2) inset;
    transition-duration: 0ms;
  }
}
