@import 'lib';


* {
   box-sizing: border-box;
   word-wrap: break-word;
}

a {
   text-decoration: none;
   color: $sailor-blue;

   &:hover {
       text-decoration: underline;
   }
   &:not([href]) {
       cursor: pointer;
   }
}

body {
  background: $seavan-salt-white;
  color: $castle-skull-gray;
}

#page, header {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
}

section, header h1, header form {
  min-width: 15rem;
  padding: 1rem;
}

.main, header h1 {
  flex: 2;
}

.sidebar, header form {
  flex: 1; 
}

header form {
  text-align: right;
}

section > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

.sidebar div {
  background: none repeat scroll 0% 0% $white;
  border-radius: 5px;
  box-shadow: 0px 1px 1px $cement-gray;
  margin-bottom: 1rem;
  padding: 1rem;
}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.item {
  width: 100%;
}

footer {
  padding: 1rem 8rem;
}

.main .listing li.item { /* quick & dirty override of listing.styl style, invert the margin */
  margin: 0 0 25px 0;
}
