@import 'lib';


* {
   box-sizing: border-box;
   word-wrap: break-word;
}

a {
   text-decoration: none;
   color: $sailor-blue;

   &:hover {
       text-decoration: underline;
   }
   &:not([href]) {
       cursor: pointer;
   }
}

body {
  background: $seavan-salt-white;
  color: $castle-skull-gray;
}

#page, header {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
}

section, header h1, header form {
  min-width: 25rem;
  padding: 1rem;
}

.main, header h1 {
  flex: 2;
}

.sidebar, header form {
  flex: 1; 
}

header form {
  text-align: right;
}

section > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

.sidebar > div {
  background: none repeat scroll 0% 0% $white;
  border-radius: 5px;
  box-shadow: 0px 1px 1px $cement-gray;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.3rem;
}

.search-promo > div {
  background: url(../img/search-promo.png) no-repeat top right $white;
  min-height: 210px;
  padding-right: 200px;
}

.search-promo p {
  margin-bottom: 1rem;
}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.item {
  width: 100%;
}

footer {
  padding: 1rem 8rem;
}

.spinner {
    spinner();
    &.alt {
        spinner-alt-image();
    }
    &.btn-replace {
        spinner-abs();
        top: 24px;
    }
    &.spaced {
        margin: 70px auto;
    }
    &.padded {
        padding: 70px 0;
    }
}

@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

.newsletter-promo {
  position: relative;

  input[type="email"], button {
    border-radius: 5px;
    box-sizing: content-box;
    font-size: 1rem;
    font-weight: 400;
    height: 1.6rem;
    line-height: 1.6rem;
    margin-left: 0.2rem;
    min-width: inherit;
    padding: 0.2rem 0.6rem;
  }

  form {
    margin: 1rem 0;
  }

  .privacy {
    margin-left: 0.5rem;
  }

  .fullup {
    align-items: center;
    background: $white;display: flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .fullup span {
    margin: 0.5rem;
  }

  .hidden {
    display: none;
  }
}

#lightbox {
  display: none;
}

.main .listing li.item { /* quick & dirty override of listing.styl style, invert the margin */
  margin: 0 0 25px 0;
}
