@import 'lib';

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: $sailor-blue;

  &:hover {
    text-decoration: none;
  }
  &:not([href]) {
    cursor: pointer;
  }
}

body {
  background: $salt-flat-white;
  color: $grey-gardens-gray;
}

h1, h2, h3 {
  color: $dark-gray;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 23px;
}

#page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

section {
  width: 100%;
}

#search {
  display: flex;
  justify-content: center;
  padding: 30px 0 25px 0;

  &:before {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    margin: 0 14px 0 4px;
    width: 48px;
    height: 48px;
  }

  input {
    font: 300 16px $open-stack;
    margin: 0;
    max-width: 450px;
    padding: 8px;
    width: 100%;
  }

  input[type=button] {
    font-size: 14px;
    margin-left: -2px;
    padding: 0 10px;
    width: auto;
  }
}

.main {
  padding-bottom: 22px;

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: block;

    h3 {
      font-size: 13px;
      color: #636363;
      line-height: normal;
      margin: 9px 0 11px 0;
    }

    div {
      background: rgba(255, 165, 0, 0.6);
      border-radius: 5px;
      display: block;
      height: 120px;
      position: relative;
      width: 290px;
    }

    img {
      border-radius: 5px;
      left: 113px;
      position: absolute;
      top: 28px;
    }
  }
}

.promo {
  background-color: #DADADA;
  background-position: center 31px;
  background-repeat: no-repeat;
  background-size: auto 160px;
  flex-grow: 1;
  padding-top: 214px;
  width: 320px;

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    margin: 11px 0 16px 0;
    padding: 0px 40px;
    text-align: center;
  }
}

.gametime {
  background-image: url(../img/gametime-promo.png);
  min-height: 200px; 
}

.gametime p {
  padding: 0px 70px;
}

.gamesonthego {
  background-image: url(../img/gamesonthego-promo.png);
  min-height: 243px;
  order: 3;
}

.gamesonthego p {
  padding: 0 10px;
}

.opensearch {
  background-image: url(../img/opensearch-promo.png);
  min-height: 216px;
}

.spinner {
  spinner();

  &.alt {
    spinner-alt-image();
  }
  &.btn-replace {
    spinner-abs();
    top: 24px;
  }
  &.spaced {
    margin: 70px auto;
  }
  &.padded {
    padding: 70px 0;
  }
}

@keyframes spin {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}

header, footer, #lightbox {
  display: none;
}

.detailed-errors {
  text-align: center;
}
